# Frontend Paciente
/frontend-paciente/*   @deibpst  @Efren-San

# Frontend Fisioterapeuta
/frontend-fisio/*      @deibpst  @BlancaVisca

# Backend
/backend/*             @deibpst  @adyscirios

# Base de datos
/database/*            @deibpst  @AngelGZA

# Chatbot
/chatbot/*             @deibpst

# DevOps
/devops/*              @deibpst  @ValePes
